html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #0a0a0a, #1a1a1a);
}

button:hover {
  cursor: pointer;
  opacity: 80%;
  transition: ease-in-out;
  transition-duration: 500ms;
}

div.container {
  width: 606px;
}

/* Scrollbar design */

::-webkit-scrollbar {
  background-color: #252529;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #899BFF;
  width: auto;
}


/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2#nav-title {
  font-family: 'Saira', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: white;
}

span#e {
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #899BFF;
}

button#nav {
  padding: 15px 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid #899BFF;
  background: rgb(26,26,26);
  color: white;
}

/* Main Section */

main {
  margin-bottom: 50px;
}

section#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2#welcome-message {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: white;
}

h3#stay-connected {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #899BFF;
  text-align: justify;
}

/* Form Section */

section#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

h4#fields-message {
  font-family: 'Inter', sans-serif;
  color: #AEAEAE;
  font-weight: 500;
  font-size: 26px;
  text-align: justify;
}

label {
  font-family: 'Inter', sans-serif;
  color: #AEAEAE;
  font-size: 16px;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #0C0C0C;
  border: 1px #212529 solid;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: white;
  padding-left: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

button#submit {
  margin-top: 10px;
  background-color: #899BFF;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Modal */
div.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(20, 20, 20, 0.8);
}

div#modal {
  background-color: #151515;
  border: 1px #212529 solid;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  max-width: 800px;
  height: 300px;
  color: white;
}

p#modalMessage{
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
}

span#successSpan {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #04D361;
}

span#errorSpan {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #FF3E3E;
}

button#closeSuccessModal {
  background-color: #04D361;
  width: 600px;
  height: 60px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
  border: 0;
  border-radius: 4px;
}

button#closeErrorModal {
  background-color: #FF3E3E;
  width: 600px;
  height: 60px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
  border: 0;
  border-radius: 4px;
}


/* Responsive Layout */

@media screen and (min-width: 400px) and (max-width: 480px) {
  h2#nav-title {
    font-size: 34px;
  }
  span#e {
    font-size: 34px;
  }
  button#nav {
    font-size: 12px;
  }
  div.container {
    width: 380px;
  }
  h2#welcome-message {
    font-size: 34px;
  }
  h3#stay-connected {
    font-size: 24px;
    text-align: center;
  }
  h4#fields-message {
    font-size: 16px;
  }
  label {
    font-size: 14px;
  }
  button#submit {
    font-size: 16px;
    color: black;
  }
  p#modalMessage{
    font-size: 18px;
  }
  span#successSpan {
    font-size: 18px;
  }
  span#errorSpan {
    font-size: 18px;
  }
  button#closeSuccessModal {
    width: 280px;
    height: 60px;
    font-size: 18px;
  }
  button#closeErrorModal {
    width: 280px;
    height: 60px;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  h2#nav-title {
    font-size: 24px;
  }
  span#e {
    font-size: 24px;
  }
  button#nav {
    font-size: 10px;
  }
  div.container {
    width: 300px;
  }
  h2#welcome-message {
    font-size: 24px;
  }
  h3#stay-connected {
    font-size: 20px;
    text-align: center;
  }
  h4#fields-message {
    font-size: 12px;
  }
  label {
    font-size: 12px;
  }
  button#submit {
    font-size: 14px;
    color: black;
  }
  p#modalMessage{
    font-size: 16px;
  }
  span#successSpan {
    font-size: 16px;
  }
  span#errorSpan {
    font-size: 16px;
  }
  button#closeSuccessModal {
    width: 240px;
    height: 60px;
    font-size: 16px;
  }
  button#closeErrorModal {
    width: 240px;
    height: 60px;
    font-size: 16px;
  }
}
